@font-face { 
    font-family: 'yangjin'; 
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format(‘woff’); 
    font-weight: normal;
     font-style: normal;
}
.app {
    font-family: 'yangjin';
}